[Unit]
Description=Hikvision Web Stream Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=reborn
Group=reborn
WorkingDirectory=/home/reborn/桌面/Reborn_Comp_2026_Image_Transport/build
Environment=LD_LIBRARY_PATH=/home/reborn/桌面/Reborn_Comp_2026_Image_Transport/hik_sdk/lib
ExecStart=/home/reborn/桌面/Reborn_Comp_2026_Image_Transport/build/hik_web_stream
StandardInput=null
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
